[submodule "NetLayers/100G-fpga-network-stack-core"]
	path = NetLayers/100G-fpga-network-stack-core
	url = https://github.com/hpcn-uam/100G-fpga-network-stack-core.git
	shallow = true
	branch = vnx-vitis-hls
