*.jou
*.log
*.bak
fsm_encoding.os
synlog.tcl
project/
src/cmac/x*
src/common/x*
src/patch_files
*.str
#Do not track xilinx files
#src/cmac_sync/rx_sync.v
#src/cmac_sync/tx_sync.v
#src/cmac_sync/cmac_0_axi4_lite_user_if.v
